* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid black;
}

.heading {
    font-weight: bold;
    font-weight: 700;
    font-size: 35px;
}

.loading-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.hidden {
    visibility: hidden;
}

.first-word {
    grid-area: first-word;
}

.second-word {
    grid-area: second-word;
}

.third-word {
    grid-area: third-word;
}

.fourth-word {
    grid-area: fourth-word;
}

.fifth-word {
    grid-area: fifth-word;
}

.sixth-word {
    grid-area: sixth-word;
}

.input-body {
    display: grid;
    justify-content: center;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 10px;
    grid-template-areas:
        "first-word"
        "second-word"
        "third-word"
        "fourth-word"
        "fifth-word"
        "sixth-word";
}

.word-input {
    display: flex;
    width: 100%;
    column-gap: 15px;
}

.character-input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;  
    width: 50px;
    height: 50px;
    border: 3px solid #ccc;
    font-size: 32px;
    font-weight: bold;
}

@keyframes flash {
    5% {
        border-color: crimson;
    }
    100% {
        border-color: #CCCCCC;
    }
}

.flashing {
    animation: flash 2s;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.spinning {
    animation: spin 1s infinite linear;
    display: inline-block;
    font-size: 30px;
}

@keyframes rainbow {
    100%,
    0% {
      color: rgb(255, 0, 0);
    }
    8% {
      color: rgb(255, 127, 0);
    }
    16% {
      color: rgb(255, 255, 0);
    }
    25% {
      color: rgb(127, 255, 0);
    }
    33% {
      color: rgb(0, 255, 0);
    }
    41% {
      color: rgb(0, 255, 127);
    }
    50% {
      color: rgb(0, 255, 255);
    }
    58% {
      color: rgb(0, 127, 255);
    }
    66% {
      color: rgb(0, 0, 255);
    }
    75% {
      color: rgb(127, 0, 255);
    }
    83% {
      color: rgb(255, 0, 255);
    }
    91% {
      color: rgb(255, 0, 127);
    }
  }

.rainbow-text {
    animation: rainbow 5s infinite linear;
}